.blog-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.blog-container h1 {
    width: 100%;
    text-align: center;
}

.article-container {
    background: #02111B;
    margin: 1rem;
    width: 15rem;
}

.article-container h2 {
    padding: 10px;
}

.article-container p {
    text-align: right;
    padding: 0.5rem;
}

.article-container img {
    width: 100%;
}

.article-container:hover {
    transform: scale(1.05);
}

.blog-container {
    bottom: 0;
}

@media  screen and (min-width: 500px) {
    .article-container {
        width: 17rem;
    }
}