* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5D737E;
}

main {
    flex: 1 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
    background-color: #30292F;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 13vw;
    padding: 0 5px;
}

nav a {
    font-size: 1.7rem;
    margin: 0 0.5rem 0 0.5rem;
}

nav a:hover {
    border-bottom: 1px solid white;
    transition: 0.2s ease-in-out;
}

#logo {
    width: clamp(2rem, 5vw + 1rem, 3rem);
}

a {
    text-decoration: none;
    color: #FCFCFC;
}

footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #30292F;
    color: #FCFCFC;
}

@media screen and (min-width: 1200px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        background-color: #30292F;
    }
    
    nav {
        gap: 50px;
        margin: 0 30px;
    }
}