.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(30, 40, 78, 0.476);
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
}

.projects h2 {
    padding: 10px 0 10px 0;
}

.projects img {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}