.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    background: #02111b;
    margin: 1rem;
}

.header-container h1 {
    text-align: left;
    text-transform: uppercase;
    color: aliceblue;
}

.header-container p {
    text-align: right;
    color: aliceblue;
}

.header-container img {
    width: 100%;
}

.section-container {
    color: aliceblue;
}

@media screen and (min-width: 743px) and (max-width: 1200px) {
    .article-container {
        margin: 1rem 15vw;
    }
}

@media screen and (min-width: 1201px) {
    .article-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 900px;
    gap: 1rem;
    }
}